<h1><%= @rink.name %></h1>
<p class="secondary"><%= @distance %>km away</p>
<p><%= link_to "Official site", @rink.url %></p>

<div class="map_canvas"
     data-user-lat="<%= @lat %>"
     data-user-lon="<%= @lon %>"
     data-rink-lat="<%= @rink.latitude %>"
     data-rink-lon="<%= @rink.longitude %>"
     data-rink-name="<%= @rink.name %>">
</div>

<h2>Happening today</h2>
<ul class="list-group">
  <% @scheduled_activities.each do |activity| %>
    <li class="list-group-item">
      <h4 class="list-group-item-heading"><%= activity.original_label %></h4>
      <p class="list-group-item-text">
        <span class="<%= 'secondary' if activity.end_time < Time.now.utc %>">
          <%= format_activity_time(activity.start_time, activity.end_time) %>
        </span>
    </li>

  <% end %>
</ul>
