<h1><%= @rink.name %></h1>
<p><%= link_to "Official site", @rink.url %></p>

<div class="map_canvas"
     data-user-lat="<%= @lat %>"
     data-user-lon="<%= @lon %>"
     data-rink-lat="<%= @rink.latitude %>"
     data-rink-lon="<%= @rink.longitude %>"
     data-rink-name="<%= @rink.name %>">
</div>

<h2>Happening today</h2>
<table class="table">
  <tr><th>Activity</th><th>Time</th></tr>
  <% @scheduled_activities.each do |activity| %>
    <tr>
      <td><%= activity.original_label %></td>
      <td class="<%= 'secondary' if activity.end_time < Time.now %>"><%= format_activity_time(activity.start_time, activity.end_time) %></td>
    </tr>

  <% end %>
</table>