<div class="panel">
  <p>
    <h4 id="search_summary"><%= summarize_search(@search) %></h4>
    <a id="change_search" href="#">[change]</a>
  </p>
  <%= form_for @search, method: :get, url: scheduled_activities_path do |f| %>
    <p>
      <%= f.label :activity_id, "What do you want to do?" %>
      <%= f.select :activity_id do %>
        <%= options_from_collection_for_select(@activities, "id", "name", @search.activity.id) %>
      <% end %>
    </p>
    <p>
      <%= f.label :location, "Where?" %>
      <%= f.text_field :location %>
    </p>
    <p>
      <%= f.label :gender %>
      <%= f.select :gender, [["", nil], ["Male only", ScheduledActivity::MALE], ["Female only", ScheduledActivity::FEMALE]] %>
    </p>
    <p>
      <%= f.label :distance, "Distance (km)" %>
      <%= f.text_field :distance %>
    </p>
    <p>
      <%= f.label :age %>
      <%= f.text_field :age %>
    </p>
    <p>
      <%= f.label :remember, "Remember this for next time" %>
      <%= f.check_box :remember %>
    </p>
    <p>
      <%= f.submit "Update" %>
    </p>
  <% end %>
</div>

<div class="list-group">
  <% @scheduled_activities.each do |activity| %>
    <a class="list-group-item" href="<%= rink_path(activity.rink) %>">
      <h4 class="list-group-item-heading"><%= activity.rink.name %></h4>
      <p class="list-group-item-text">
          <strong><%= format_activity_time(activity.start_time, activity.end_time) %></strong>:
          <%= activity.original_label %>
      </p>
    </a>
  <% end %>
</div>
