<h1><%= @activity.name %></h1>

<div class="panel">
  <form action="<%= scheduled_activities_path %>" method="GET">
    <p>
      <%= label_tag "activity_id", "What do you want do?" %>
      <%= select_tag("activity_id", options_from_collection_for_select(@activities, "id", "name", @activity.id)) %>
    </p>
    <p>
      <%= label_tag "location", "Where?" %>
      <%= text_field_tag "location", @location %>
    </p>
    <p>
      <%= label_tag "time", "When?" %>
      <%= text_field_tag "time", "now" %>
    </p>
    <p>
      <%= submit_tag "Update" %>
    </p>
  </form>
</div>

<table class="table">
  <tr>
    <th>Rink</th>
    <th>Time</th>
    <th>More</th>
  </tr>
  <% @scheduled_activities.each do |activity| %>
    <tr>
      <td><%= link_to activity.rink.name, activity.rink.url %></td>
      <td><%= activity.start_time.to_s(:short) %> - <%= activity.end_time.to_s(:time) %></td>
      <td><%= link_to "link", activity.rink.url, target: "_blank" %> <%= [activity.age_range, activity.gender_text].compact.join("; ") %></td>
    </tr>
  <% end %>

</table>