<h1><%= @activity.name %></h1>

<div class="panel">
  <form data-auto-submit="1" action="<%= scheduled_activities_path %>" method="GET">
    <p>
      <%= label_tag "activity_id", "What do you want do?" %>
      <%= select_tag("activity_id", options_from_collection_for_select(@activities, "id", "name", @activity.id)) %>
    </p>
    <p>
      <%= label_tag "location", "Where?" %>
      <%= text_field_tag "location", @location %>
    </p>
    <p>
      <%= label_tag "time", "When?" %>
      <%= text_field_tag "date", @date.strftime("%d/%m/%Y"), :"data-provide" => "datepicker", :"data-date-format" => "dd/mm/yyyy", :"data-date-autoclose" => true %>
    </p>
    <p>
      <%= label_tag "gender", "Gender" %>
      <%= select_tag "gender", options_for_select([["", nil], ["Male only", ScheduledActivity::MALE], ["Female only", ScheduledActivity::FEMALE]], @gender) %>
    </p>
    <p>
      <%= label_tag "age", "Age" %>
      <%= text_field_tag "age", @age %>
    </p>

    <p>
      <%= label_tag "distance" %>
      <%= text_field_tag "distance", @distance %>

    </p>

    <p>
      <%= submit_tag "Update" %>
    </p>

  </form>
</div>

<table class="table">
  <tr>
    <th>Rink</th>
    <th>Time</th>
    <th>Description</th>
  </tr>
  <% @scheduled_activities.each do |activity| %>
    <tr>
      <td>
        <%= link_to activity.rink.name, activity.rink.url, target: "_blank" %>
        <span class="secondary"><%= number_with_precision(activity.distance, precision: 1) %>km</span>
      </td>
      <td>
        <%= activity.start_time.strftime("%b %-d %-I:%M%P") %> - <%= activity.end_time.strftime("%-I:%M%P") %>
      </td>
      <td class="secondary"> <%= activity.original_label %> </td>
    </tr>
  <% end %>

</table>